<!-- start list group -->
<div class="list-group">
    <a href="adminConfig.html"     id="adminConfig"     class="list-group-item list-group-item-action">Configurações</a>
    <a href="adminDashboard.html"  id="adminDashboard"  class="list-group-item list-group-item-action">Dashboard</a>
    <a href="adminFinancial.html"  id="adminFinancial"  class="list-group-item list-group-item-action">Financeiro</a>
    <a href="adminInventory.html"  id="adminInventory"  class="list-group-item list-group-item-action">Estoque</a>
    <a href="adminOrders.html"     id="adminOrders"     class="list-group-item list-group-item-action">Pedidos</a>
    <a href="adminCategories.html" id="adminCategories" class="list-group-item list-group-item-action">Categorias</a>
    <a href="adminProducts.html"   id="adminProducts"   class="list-group-item list-group-item-action">Produtos</a>
    <a href="adminUsers.html"      id="adminUsers"      class="list-group-item list-group-item-action">Usuários</a>
    <a href="adminReviews.html"    id="adminReviews"    class="list-group-item list-group-item-action">Reviews</a>
    <a href="adminProfile.html"    id="adminProfile"    class="list-group-item list-group-item-action">Perfil</a>

    <a href="#" id="btnLogout" class="list-group-item list-group-item-action">Sair</a>
</div>
<!-- end list group -->