<!-- start header -->
<header>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <img src="../img/kithara.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <a class="navbar-brand" href="index.html">Kithara</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="companyAbout.html">Sobre nós</a></li>
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                        <ul class="dropdown-menu" id="categoryList"></ul>
                    </li>

                    <li class="nav-item" id="navRegister"><a class="nav-link" href="authenticationRegister.html">Cadastrar</a></li>
                    <li class="nav-item" id="navLogin"><a class="nav-link" href="authenticationLogin.html">Login</a> </li>

                    <li class="nav-item dropdown" id="menuProfiles">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" id="adminProfile"><a class="dropdown-item" href="adminDashboard.html">Meu Perfil</a></li>
                            <li class="nav-item" id="clientProfile"><a class="dropdown-item" href="userProfile.html">Meu Perfil</a></li>
                            <li class="nav-item" id="sellerProfile"><a class="dropdown-item" href="sellerDashboard.html">Meu Perfil</a></li>
                            <li><a class="dropdown-item" href="#" id="btnLogout">Sair</a></li>
                        </ul>
                    </li>

                    <li class="nav-item" id="navCart">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <!-- start barra lateral oculta do carrinho -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Carrinho</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
            <div class="d-flex flex-column gap-3">
                <div class="card">
                    <img src="../img/guitarra.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Produto 1</h5>
                        <p class="card-text">R$ 499,99</p>
                        <input type="number" value="1">
                        <button type="button" class="btn btn-primary">Remover</button>
                    </div>
                </div>

                <div class="card">
                    <img src="../img/guitarra.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Produto 2</h5>
                        <p class="card-text">R$ 499,99</p>
                        <input type="number" value="1">
                        <button type="button" class="btn btn-primary">Remover</button>
                    </div>
                </div>

                <div class="card">
                    <img src="../img/guitarra.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Produto 2</h5>
                        <p class="card-text">R$ 499,99</p>
                        <input type="number" value="1">
                        <button type="button" class="btn btn-primary">Remover</button>
                    </div>
                </div>

                <div class="card">
                    <img src="../img/guitarra.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Produto 2</h5>
                        <p class="card-text">R$ 499,99</p>
                        <input type="number" value="1">
                        <button type="button" class="btn btn-primary">Remover</button>
                    </div>
                </div>

                <div class="card">
                    <img src="../img/guitarra.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Produto 2</h5>
                        <p class="card-text">R$ 499,99</p>
                        <input type="number" value="1">
                        <button type="button" class="btn btn-primary">Remover</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Subtotal</h5>
                        <p class="card-text">R$ 2.499,95</p>
                        <a href="payment.html" type="button" class="btn btn-primary">Finalizar Compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end barra lateral oculta do carrinho -->
</header>
<!-- end header -->